body{
    margin:0;
  }
  .logo{
    margin:0 60px 0 60px;
  }
  
  .box{
      border:0px solid;
  }
  
  img{
      vertical-align: bottom;
      max-width:100%;
  }
  
  .p1 {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, auto);
  
      gap:5px;
    }
    
    .p1 img {
      width: 100%;
    }
  
    .text-are{
      padding:12px;
      margin:0 60px 0 60px;
    }

    h1{
        border-left:5px solid #1B4564;/*線の設定*/
        padding:2px 8px; /*余白の設定*/
        font-size:28px;
        font-weight: 400;
      }

      .text-akechi{
        padding:1px 5%;
      }
      

  
  .osu{
    margin:10px 60px 0 60px;
    text-align: left;
    padding:12px;
    font-size:1.7em;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .reco{
    /* 子要素を横に並べる / display: flex; / 中の子要素の幅で親要素の幅に均等に余白を入れ広げる */
    margin:0 60px 0 60px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 2em;
    }
  
  section.square{
    text-align: left;
      background-color:transparent;
      padding: 1.8em;
      box-sizing: border-box;
  }
  
  section.square h3{
    font-size: 15px;
    font-weight: lighter;
    color: rgb(24, 26, 29);
    text-align: center;
  }
