*{
margin:0;
}
section,
figure,figcaption{
display: block;
}

body{
  font-size:1em;
  font-family:sans-serif;
  }

.container {
      margin:0 60px 0 60px;
      border-bottom:1px solid #253958;
      padding:20px 10%;
      color:#253958;
      text-align: center;
      font-size: 1.5rem;
  }


.title {
      margin:0 auto 0 auto;
      max-width:800px;
      text-align: left;
      padding:.3em 0 ;
      font-family: sans-serif;
      font-size:1.7em;
      font-weight: lighter;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
.text-area{
      margin:0 60px 0 60px;
  }

h2{
      border-left:5px solid #1B4564;/*線の設定*/
      padding:2px 8px; /*余白の設定*/      
    }

.text{
      padding:20px 5%;
      margin:0 60px 0 60px;
    }
  
.flex {
    /* 子要素を横に並べる / display: flex; / 中の子要素の幅で親要素の幅に均等に余白を入れ広げる */
    max-width:900px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 2em;
    margin:0 auto;
    }
  
section.box{
    text-align: center;
    background-color:transparent;
    padding:0.5em;
    box-sizing: border-box;
      }
section.box h3{
      font-size: 20px;
      font-weight: lighter;
      color: rgb(96, 126, 187);
      text-align: center;
      }
section.box figure a{
      transition: 2s;
      }
section.box figure a:hover{
      opacity: 0.5;
      }
section.box figure img{
      border-radius: 50%;
      }
section.box figcaption{
      text-align: center;
      }
